[phases.setup]
nixPkgs = ["php81", "php81Packages.composer"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader"]

[start]
cmd = "sh -c 'php -S 0.0.0.0:${PORT:-8080} -t . index.php'"

